<h3>Writing Agents</h3>
<ul>
	<li><a href="http://code.google.com/p/mcollective/wiki/SimpleRPCIntroduction">Introduction</a>
	<li><a href="http://code.google.com/p/mcollective/wiki/SimpleRPCAgents">Writing Agents</a>
	<li><a href="http://code.google.com/p/mcollective/wiki/SimpleRPCClients">Writing Clients</a>
	<li><a href="http://code.google.com/p/mcollective/wiki/SimpleRPCAuthorization">Authorization</a>
	<li><a href="http://code.google.com/p/mcollective/wiki/SimpleRPCAuditing">Auditing</a>
	<li><a href="http://code.google.com/p/mcollective/wiki/SimpleRPCDDL">DDL</a>
</ul>
