body {margin:0; background:url(/images/ondieting_blue/body_bg.png) repeat-x #3885CC; font-family:Arial, Helvetica, sans-serif;}

#container {width:950px; margin:0 auto;}

#header {height:95px;}
#logo {float:left; padding:33px 0 0 45px; font-size:32px; font-family:"Comic Sans MS", cursive;}
#logo a {display:block; color:#FFFFFF; text-decoration:none;}
#slogan {float:right; padding:33px 45px 0 0; color:#FFFFFF; font-size:16px; text-align:center; font-family:"Comic Sans MS", cursive;}
#header_menu {text-align:center; color:#FFFFFF; font-size:14px; font-weight:bold; height:36px; background:url(/images/ondieting_blue/header_bg.png) no-repeat; padding-top:31px;}
#header_menu a {color:#CC385E; text-decoration:none;}
#header_menu a:hover {color:#7F2138;}

#main {background:url(/images/ondieting_blue/main_bg.png) repeat-y; font-size:13px; line-height:17px; color:#333333; float:left; width:100%;}
#main br {line-height:10px;}
#main a {color:#3885CC;}
#main a:hover {color:#21517F;}
#text {margin:30px 285px 30px 45px;}
#text h1 {font-size:28px; font-weight:normal; margin:24px 0 8px 0; color:#306DA8;}
#text h2 {font-size:24px; font-weight:normal; margin:24px 0 8px 0; color:#306DA8;}
#text h3 {font-size:20px; font-weight:normal; margin:20px 0 8px 0; color:#306DA8;}
#text ol, #text ul {padding:0; margin:10px 0;}
#text li {margin-left:40px;}
#sidebar {width:180px; float:right; margin:6px 45px 30px 30px; display:inline;}
#sidebar h3 {font-size:20px; font-weight:normal; margin:24px 0 8px 0; color:#306DA8;}
#sidebar ul {margin:0px; padding:0px;}
#sidebar li {list-style:none; padding:1px 0 1px 12px; background:url(/images/ondieting_blue/li.png) 0px 8px no-repeat;}

#footer_menu {height:41px; background:url(/images/ondieting_blue/footer_bg.png) no-repeat; clear:both; text-align:center; color:#FFFFFF; font-size:12px; padding-top:16px;}
#footer_menu a {color:#CC385E; text-decoration:none;}
#footer_menu a:hover {color:#7F2138;}

#footer {color:#D8E7F4; text-align:center; font-size:10px; margin:2px 0 15px 0;}
#footer a {color:#D8E7F4;}
#footer a:hover {color:#B0CEEA;}
